#Loading Data

In [ ]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords

from tqdm import tqdm
from tqdm.notebook import tqdm_notebook

In [ ]:
#train5 = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/train_clean_5L.csv')
#train10 = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/train_clean_10L.csv')
#train15 = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/train_clean_15L.csv')
#train20 = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/train_clean_20L.csv')
#train25 = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/train_clean_25L.csv')
trainlast = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/train_clean_Last.csv')

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/test_clean.csv')

# Analyze Data

In [ ]:
data = [train5,train10,train15,train20,train25,trainlast]
names = ['train5','train10','train15','train20','train25','trainlast']

In [ ]:
test.isnull().sum()

PRODUCT_ID    0
TEXT          0
dtype: int64

In [ ]:
test.dropna(inplace=True)

In [ ]:
for df,name in zip(data, names):
  print(name)
  display(df.info())
  print()

train5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494187 entries, 0 to 494186
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BROWSE_NODE_ID  494187 non-null  int64
 1   TEXT            494177 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.5+ MB

None

train10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493974 entries, 0 to 493973
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BROWSE_NODE_ID  493974 non-null  int64
 1   TEXT            493966 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.5+ MB

None

train15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494042 entries, 0 to 494041
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BROWSE_NODE_ID  494042 non-null  int64
 1   TEXT            494033 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.5+ MB

None

train20
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494042 entries, 0 to 494041
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BROWSE_NODE_ID  494042 non-null  int64
 1   TEXT            494035 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.5+ MB

None

train25
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493957 entries, 0 to 493956
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BROWSE_NODE_ID  493957 non-null  int64
 1   TEXT            493948 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.5+ MB

None

trainlast
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398771 entries, 0 to 398770
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BROWSE_NODE_ID  398771 non-null  int64
 1   TEXT            398767 non-null  object
dtypes: int64(1), object(1)
memory usage: 6.1+ MB

None

#Handling Null Values

In [ ]:
for df,name in zip(data, names):
  print(name)
  display(df.isnull().sum())
  print()

train5

BROWSE_NODE_ID     0
TEXT              10
dtype: int64

train10

BROWSE_NODE_ID    0
TEXT              8
dtype: int64

train15

BROWSE_NODE_ID    0
TEXT              9
dtype: int64

train20

BROWSE_NODE_ID    0
TEXT              7
dtype: int64

train25

BROWSE_NODE_ID    0
TEXT              9
dtype: int64

trainlast

BROWSE_NODE_ID    0
TEXT              4
dtype: int64

In [ ]:
for df,name in zip(data, names):
  print(name)
  null_index = df[df.TEXT.isnull()].index
  display(df.iloc[null_index])
  print()

train5

        BROWSE_NODE_ID TEXT
12277                4  NaN
62078                4  NaN
136654               4  NaN
159246               4  NaN
162497               4  NaN
222983               4  NaN
315932               4  NaN
323530               4  NaN
431892               4  NaN
488805               4  NaN

train10

        BROWSE_NODE_ID TEXT
254                  4  NaN
71093                4  NaN
110674            2516  NaN
156758               4  NaN
225038             179  NaN
358871               4  NaN
367730             154  NaN
456834               4  NaN

train15

        BROWSE_NODE_ID TEXT
438                  4  NaN
1728                 4  NaN
30740                4  NaN
36442                4  NaN
106643            1409  NaN
146478               4  NaN
284740               4  NaN
404547               4  NaN
424611               4  NaN

train20

        BROWSE_NODE_ID TEXT
82526                4  NaN
183281            4995  NaN
333601               4  NaN
340980               4  NaN
417676               4  NaN
424019               4  NaN
466918               4  NaN

train25

        BROWSE_NODE_ID TEXT
80342                4  NaN
110569               4  NaN
133271               4  NaN
133274               4  NaN
153623               4  NaN
248953              55  NaN
339241               4  NaN
419727               4  NaN
439997               4  NaN

trainlast

        BROWSE_NODE_ID TEXT
83318                4  NaN
84111                4  NaN
113139              55  NaN
376395               4  NaN

In [ ]:
for df,name in zip(data, names):
  print(name)
  df.dropna(inplace=True)
  display(df.isnull().sum())
  print()

train5

BROWSE_NODE_ID    0
TEXT              0
dtype: int64

train10

BROWSE_NODE_ID    0
TEXT              0
dtype: int64

train15

BROWSE_NODE_ID    0
TEXT              0
dtype: int64

train20

BROWSE_NODE_ID    0
TEXT              0
dtype: int64

train25

BROWSE_NODE_ID    0
TEXT              0
dtype: int64

trainlast

BROWSE_NODE_ID    0
TEXT              0
dtype: int64

# Checking Corpus

In [ ]:
def build_vocab(sentences):
  word_freq = {}
  for row in tqdm(sentences):
      for word in row.split():
        if len(word)>2:
          try:
            word_freq[word] += 1
          except:
            word_freq[word] = 1
  
  print("Total words found:",len(word_freq))
  return word_freq

In [ ]:
train_vocab = {}
for df,name in zip(data, names):
  print(name)
  vocab = build_vocab(df['TEXT'])
  train_vocab.update(vocab)
  print()

print(len(train_vocab))

  1%|          | 3541/494177 [00:00<00:13, 35394.59it/s]

train5

100%|██████████| 494177/494177 [00:21<00:00, 22594.75it/s]
  0%|          | 2402/493966 [00:00<00:20, 24014.24it/s]

Total words found: 1135109

train10

100%|██████████| 493966/493966 [00:21<00:00, 22876.87it/s]

Total words found: 1135456

100%|██████████| 494033/494033 [00:21<00:00, 23135.83it/s]
  1%|          | 2671/494035 [00:00<00:18, 26708.12it/s]

train15
Total words found: 1137692

train20

100%|██████████| 494035/494035 [00:20<00:00, 24097.61it/s]
  0%|          | 0/493948 [00:00<?, ?it/s]

Total words found: 348035

train25

100%|██████████| 493948/493948 [00:20<00:00, 24094.29it/s]
  1%|          | 2881/398767 [00:00<00:13, 28807.01it/s]

Total words found: 347779

trainlast

100%|██████████| 398767/398767 [00:16<00:00, 23756.20it/s]

Total words found: 307936

2590516

In [ ]:
test_vocab = build_vocab(test['TEXT'])

100%|██████████| 110775/110775 [00:05<00:00, 20382.63it/s]

Total words found: 99610

# Finding bad characters

In [ ]:
import string
clean_characters = string.ascii_letters + string.digits + ' '
clean_characters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 '

In [ ]:
def find_bad_characters(arr):
  bad_characters = []
  for word in tqdm(arr):
    for character in word:
      if not character in clean_characters:
        bad_characters.append(character)
 
  bad_characters = list(set(bad_characters))
  print("Total bad characters found:",len(bad_characters))
  return bad_characters

In [ ]:
train_bad_characters = find_bad_characters(list(train_vocab.keys()))
"".join(train_bad_characters)

100%|██████████| 2590516/2590516 [00:03<00:00, 813823.89it/s]

Total bad characters found: 1

'-'

In [ ]:
test_bad_characters = find_bad_characters(list(test_vocab.keys()))
"".join(test_bad_characters)

100%|██████████| 99610/99610 [00:00<00:00, 1017039.21it/s]

Total bad characters found: 1

'-'

#Cleaning

In [ ]:
test.head(3)

   PRODUCT_ID                                               TEXT
0           1  command small kitchen hook white decorate dama...
1           2  neal jump hardware jag unisex-adult glove blac...
2           3  nfl detroit lion portable party fridge quart b...

In [ ]:
def clean(text):

  cleantext = re.sub("[-]", " " , text)

  return cleantext

In [ ]:
test['TEXT'] = tqdm(test['TEXT'].apply(clean))

100%|██████████| 110775/110775 [00:00<00:00, 1584773.95it/s]

In [ ]:
#unique
test.to_csv('/content/drive/MyDrive/Datasets/Amazon_ML_Challenge/dataset/test_clean.csv', index = False)

In [ ]:
del(test)

# END